body {
  background-color: #e4d2dd;
}
h1 {
  display: block;
  margin: 0 auto;
}
strong {
  font-size: 19px;
}
.topic {
  color: #041421;
  font-size: 45px;
}
#city {
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: capitalize;
}
#ContainAll {
  max-width: 600px;
  margin: 30px auto;
  color: #000000;
  border: 3px solid rgba(197, 196, 196, 0.445);
  border-radius: 10px;
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902023.jpg?w=996&t=st=1673515478~exp=1673516078~hmac=5d71df7ab905804bd7bcf3b0fed29002d191f7e70e7b1f2dd48f6f9255223e85");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1319px;
  padding: 10px 10px 10px 10px;
  font-family: monospace;
  box-shadow: rgba(37, 39, 89, 0.482) 0px 8px 8px 0;
  margin-bottom: 6px;
}

#sky {
  text-transform: capitalize;
}

#detail {
  max-width: 600px;
  background-color: #da98c357;
  padding: 10px 10px 10px 10px;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 5px;
}

#detail2 {
  max-width: 600px;
  background-color: #fbdad34a;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  color: rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  border-radius: 5px;
}

#deg {
  font-size: 35px;
  margin: -10px 2px -15px 10px;
  padding-top: 100px;
  position: relative;
  top: 13px;
  left: -7px;
}

.units {
  font-size: small;
  position: relative;
  top: -6px;
  left: -7px;
}

.form-control {
  padding-right: 0;
  height: 4.4vh;
  width: 180px;
}

.firstButton {
  box-shadow: rgba(37, 39, 89, 0.482) 0px 3px 5px 0;
}

.secondButton {
  background-color: #2fb74d;
  border-color: #2fb74d;
  box-shadow: rgba(37, 39, 89, 0.482) 0px 3px 5px 0;
}
.secondButton:hover {
  background-color: #25913d;
  border-color: #25913d;
}

.sourceCode {
  max-width: 600px;
  padding-top: 12px;
  padding-left: 5px;
  font-size: 15px;
  font-family: monospace;
}

.icon {
  margin: -10px -10px -15px -10px;
  padding-top: 0 0 0 0;
  padding-bottom: -100px;
}

#currentTime {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#details {
  line-height: 21.5pt;
}
